{% extends "admin/base.html" %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        <h1>Unique Challenges</h1>
    </div>
</div>

<style>
    .tab-content {
        margin-top: 1.5em;
    }
    #cohortData li {
        list-style-type: none;
        margin-bottom: 1em;
    }
    #cohortData .badge {
        margin-left: 1em;
    }
</style>

<template id="suspect-info">
    <tr>
        <td><a data-text="chal">Challenge</a></td>
        <td><a data-text="user"></a></td>
        {% if config.is_teams_mode() %}
        <td><a data-text="team"></a></td>
        {% endif %}
        {% if config.is_users_mode() %}
        <td><a data-text="copy_user"></a></td>
        {% else %}
        <td><a data-text="copy_team"></a></td>
        {% endif %}
    </tr>
</template>

<div class="container">
    <nav class="nav nav-tabs nav-fill">
        <a class="nav-item nav-link active" data-toggle="tab" href="#auditing" role="tab" aria-selected="true">Auditing</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#cohorts" role="tab" aria-selected="false">Cohorts</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#settings" role="tab" aria-selected="false">Settings</a>
    </nav>

    <div class="tab-content" role="tabpanel" id="nav-tabContent">
        <div class="tab-pane fade active show" id="auditing">
            <form>
                <div class="form-group row">
                    <label for="audit-grouping" class="col-sm-2 col-form-label">Group events by:</label>
                    <select class="form-control col-sm-10" id="audit-grouping">
                        <option value="challenge">Challenge</option>
                        <option value="submit">Submitting Team/User</option>
                        <option value="copied">Copied Team/User</option>
                    </select>
                </div>
            </form>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Challenge</th>
                        <th>Submitting User</th>
                        {% if config.is_teams_mode() %}
                        <th>Submitting Team</th>
                        {% endif %}
                        {% if config.is_users_mode() %}
                        <th>Copied User</th>
                        {% else %}
                        <th>Copied Team</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <div class="tab-pane fade" id="cohorts">
            <h3>
                Cohorts
                <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#addCohort">Add Cohort</button>
            </h3>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <select class="custom-select" id="cohortSelect">
                        <option value="cohorts" selected>Cohorts</option>
                        <option value="users">Users</option>
                      </select>
                </div>
                <input class="form-control" placeholder="Search..." id="cohortSearch">
            </div>

            <ul id="cohortData">
            </ul>
        </div>

        <div class="tab-pane fade" id="settings">
            <h3>Settings</h3>

            <form id="unique_challenges_config_form">
                <div class="form-group form-check">
                    {% if filter_list %}
                    <input type="checkbox" name="filter_list" id="filter_list" checked>
                    {% else %}
                    <input type="checkbox" name="filter_list" id="filter_list">
                    {% endif %}
                    <label for="filter_list">Apply advanced requirements when listing challenges</label>
                    <br>
                    <small class="form-text text-muted">
                        This may cause performance issues with CTFs with many challenges. <br>
                        If not set, advanced requirements will be applied when a user views a challenge.
                    </small>
                </div>

                <input value="{{ nonce }}" name="nonce" hidden>
                <button type="submit" class="btn btn-primary" id="config_form_submit">Save</button>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="addCohort" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">New Cohort</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="addCohortName">Cohort Name</label>
                    <input class="form-control" id="addCohortName">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="addCohortButton">Add Cohort</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addUserToCohort" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add User to Cohort</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="addCohortName">User Name</label>
                    <input class="form-control" id="addUserToCohortName">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="addUserToCohortButton">Add User</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addCohortToUser" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add User to Cohort</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="addCohortName">Cohort Name</label>
                    <input class="form-control" id="addCohortToUserName">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="addCohortToUserButton">Add Cohort</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="/plugins/unique_challenges/assets/unique_challenges.js" defer></script>
{% endblock %}
