<!-- Requirements code editing -->
<script src="https://pagecdn.io/lib/ace/1.4.8/ace.js" crossorigin="anonymous" integrity="sha256-+svOVB1WmhKhTy7N21gWvtyXn91qF0r52P2hIArRRug=" ></script>
<!-- Requirements gui editing -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.10.1/Sortable.min.js" integrity="sha256-9D6DlNlpDfh0C8buQ6NXxrOdLo/wqFUwEB1s70obwfE=" crossorigin="anonymous"></script>
<!-- LispIsh helpers -->
<script src="{{ get_config('APPLICATION_ROOT') or '' }}/plugins/unique_challenges/assets/lispish.js"></script>

<style type="text/css" media="screen">
    #script-editor, #requirements-editor {
        width: 100%;
        height: 300px;
    }
    #script_filesboard .highlight {
        box-shadow: inset 0 0 20px #ff0;
    }

    #advanced_requirements [data-toggle="code"] {
        width: 20px;
        height: 20px;
    }
    #advanced_requirements [data-toggle="code"] ~ span {
        position: relative;
        top: -5px;
        left: 5px;
    }

    #advanced_requirements [data-toggle="code"] ~ [data-show^="code"] {
        display: none;
    }
    #advanced_requirements [data-toggle="code"]:not(:checked) ~ [data-show^="code:unchecked"] {
        display: block;
    }
    #advanced_requirements [data-toggle="code"]:checked ~ [data-show="code:checked"] {
        display: block;
    }

    #advanced_requirements_gui {
        margin-bottom: 1em;
    }

    #advanced_requirements .block {
        display: grid;
        grid-template-rows: 30px 1fr;
    }
    #advanced_requirements .block .block-header {
        display: flex;
    }
    #advanced_requirements .block.call > .when-value,
    #advanced_requirements .block.call > .block-header .when-value {
        display: none;
    }
    #advanced_requirements .block:not(.call) > .when-call,
    #advanced_requirements .block:not(.call) > .block-header .when-call {
        display: none;
    }
    #advanced_requirements .block input, .block [data-switch="method"] {
        flex-grow: 1;
    }
    #advanced_requirements .block .args {
        margin-left: 5px;
        border-left: 1px solid black;
        padding-left: 4px;
    }
</style>

<template id="block_template">
    <div class="block call">
        <div class="block-header">
            <select data-switch="type">
                <option value="check">Check</option>
                <option value="string">String</option>
                <option value="number">Number</option>
            </select>
            <select class="when-call" data-switch="method">
                <option value="=">Equal (=)</option>
                <option value="/=">Not equal (/=)</option>
                <option value="AND">And</option>
                <option value="OR">Or</option>
                <option value="NOT">Not</option>
                <option value="+">Add</option>
                <option value="-">Subtract</option>
                <option value="MAX">Max</option>
                <option value="MIN">Min</option>
                <option value=">">Greater than (&gt;)</option>
                <option value=">=">Greater than or equal to (&ge;)</option>
                <option value="<">Less than (&lt;)</option>
                <option value="<=">Less than or equal to (&le;)</option>
                <option value="USER-EMAIL">User email</option>
                <option value="USER-NAME">User name</option>
                <option value="USER-ID">User id</option>
                <option value="USER-SCORE">User score</option>
                <option value="COMPLETED">Completed Challenges</option>
                <option value="BEFORE">Current time is before</option>
                <option value="AFTER">Current time is after</option>
            </select>
            <input class="when-value">
            <button class="when-call" data-action="add-arg">+</button>
            <button data-action="remove-arg">&times;</button>
        </div>
        <div class="args when-call"></div>
    </div>
</template>

<form method="POST">
    <div class="form-group">
        <label>
            Name<br>
            <small class="form-text text-muted">Challenge Name</small>
        </label>
        <input type="text" class="form-control chal-name" name="name" value="{{ challenge.name }}">
    </div>

    <div class="form-group">
        <label>
            Category<br>
            <small class="form-text text-muted">Challenge Category</small>
        </label>
        <input type="text" class="form-control chal-category" name="category" value="{{ challenge.category }}">
    </div>

    <div class="form-group">
        <label>
            Message<br>
            <small class="form-text text-muted">
                Use this to give a brief introduction to your challenge.<br>
                You may include the placeholders <code>!name!</code>, <code>!flag_8!</code>, <code>!flag_16!</code>, and <code>!flag_32!</code>
                which will be replaced with the team (or user) name, and the corresponding unique flag for that user.
            </small>
        </label>
        <textarea id="desc-editor" class="form-control chal-desc-editor" name="description" rows="10">{{ challenge.description }}</textarea>
    </div>

    <div class="form-group">
        <label for="value">
            Value<br>
            <small class="form-text text-muted">
                This is how many points teams will receive once they solve this challenge.
            </small>
        </label>
        <input type="number" class="form-control chal-value" name="value" value="{{ challenge.value }}" required>
    </div>

    <div class="form-group">
        <label>
            Max Attempts<br>
            <small class="form-text text-muted">Maximum amount of attempts users receive. Leave at 0 for unlimited.</small>
        </label>

        <input type="number" class="form-control chal-attempts" name="max_attempts" value="{{ challenge.max_attempts }}">
    </div>

    <div class="form-group">
        <label>
            State<br>
            <small class="form-text text-muted">Changes the state of the challenge (e.g. visible, hidden)</small>
        </label>

        <select class="form-control custom-select" name="state">
            <option value="visible" {% if challenge.state == "visible" %}selected{% endif %}>Visible</option>
            <option value="hidden" {% if challenge.state == "hidden" %}selected{% endif %}>Hidden</option>
        </select>
    </div>

    <div>
        <button class="btn btn-success btn-outlined float-right" type="submit">
            Update
        </button>
    </div>
</form>

<template id="file-row-template">
    <tr>
        <td class="text-center">
            <a href=""></a>
        </td>

        <td class="text-center">
            <i role="button" file-id="?" class="btn-fa fas fa-times delete-file"></i>
        </td>
    </tr>
</template>
